[Unit]
Description=Gunicorn instance to serve AirBnB_Clone_v4
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
Environment="PATH=/usr/bin"
ExecStart=/home/ubuntu/.local/bin/gunicorn --workers 3 --bind 0.0.0.0:5003 -m 007 web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target
